<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="th.ac.kku.cis.mobileapp.RepairDorm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ประวัติคำร้องแจ้งซ่อม"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".showReqForStaffActivity"></activity>
        <activity android:name=".showReqActivity" />
        <activity
            android:name=".StudentActivity2"
            android:label="ประวัติคำร้องแจ้งซ่อม"
            android:theme="@style/AppTheme" />
        <activity android:name=".AddReqActivity" />
        <activity android:name=".requestListActivity" />
        <activity android:name=".Test" />
        <activity android:name=".LoginStudentActivity" />
        <activity android:name=".LoginStaffActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>